<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @order.ID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.Email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.Description %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
