<p id="notice"><%= notice %></p>

<p>
  <strong>Var1:</strong>
  <%= @test.var1 %>
</p>

<p>
  <strong>Var2:</strong>
  <%= @test.var2 %>
</p>

<p>
  <strong>Var3:</strong>
  <%= @test.var3 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
